/* Simple reset */
* {
  margin: 0;
  padding: 0;
}


.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(86, 77, 242, 0.554);
    color: white;
    font: 1em 'Cinzel';
    flex:1;
    padding: 1em;
}

.banner{
    justify-content: center;
    justify-items: center;
}


.background-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    width: 100%;
    height: auto;
    flex:2;
}